@model SarahASL.Models.ASLTerm
@using SarahASL.Services.Interfaces;

@inject IVideoService VideoService


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ASLTerm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishPhrase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishPhrase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileData)
        </dt>
        <dd class = "col-sm-10">
            <video controls src="@VideoService.ConvertByteArrayToFile(Model.FileData!, Model.FileType)" style="height:300px;width:400px">
                Your browser does not support the HTML5 video element.
            </video>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
